# Elypso engine ignored files and folders
Engine/build/
Engine/.vs/
Engine/out/
Engine/Elypso engine.lib
Engine/Elypso engineD.lib
Engine/libElypso engine.a
Engine/libElypso engineD.a

# Engine library ignored files and folders
Engine library/build/
Engine library/.vs/
Engine library/out/

# Game ignored files and folders
Game/build/
Game/.vs/
Game/out/
Game/Elypso engine.lib
Game/Elypso engineD.lib
Game/libElypso engine.a
Game/libElypso engineD.a
